body {
    background-color: #221E1D;
}

img {
    border: none;
}

.content {
    margin:0 auto;
    text-align: center;
    width: 1000px;
    background-color: #E4E4E4;
    font-family: 'Exo', 'helvetica', cursive;
    font-weight: 400;
    padding-bottom: 10px;
    padding-top: 20px;
}

.logo {
    margin:0 auto;
    width: 1000px;
    min-height: 99px;
    background-color: #E4E4E4;
    clear: both;
    height: 240px;
}

.title {
    float: left;
    margin-top: 5px;
}

.title img {
    float: left;
}

.title_right {
    float: right;
    height: 152px;
    width: 370px;
}

.social {
    padding-right: 10px;
    height: 35px;
    width: 360px;
    text-align: right;
}

.where {
    width: 330px;
    float: right;
    text-align: center;
    font-family: 'Exo', 'helvetica', cursive;
    text-transform: uppercase;
    font-size: 32px;
    color: #221E1D;
    text-shadow: -1px 1px 2px #7AA5C6;
    filter: dropshadow(color=#7AA5C6, offx=1, offy=1); 
}

.menu {
    clear: both;
    background-color: #221E1D;
    width: 771px;
    min-height: 53px;
    margin: 0 auto;
    margin-top: 10px;
    font-family: 'Exo', 'helvetica', cursive;
    text-transform: uppercase;
    padding-left: 35px;
    text-align: center;
    -webkit-box-shadow: -5px 5px 0px 0px #7AA5C6;
    -moz-box-shadow: -5px 5px 0px 0px #7AA5C6;
    box-shadow: -5px 5px 0px 0px #7AA5C6;
}

.menu a, .menu span {
    display: block;
    float: left;
    color: #7AA5C6;
    text-decoration: none;
    font-family: 'Exo','helvetica', cursive;
    font-size: 24px;
    padding-top: 9px;
}
a {
    color: #7AA5C6;
    text-decoration: none;
    font-family: 'Exo', 'helvetica', cursive;
    font-size: 16px;
}

a:hover {
    color: #221E1D;
}

.menu span {
    padding-left: 10px;
    padding-right: 10px;
    color: #42597F;
}

.menu a:hover, .singlebox a:hover {
    color: #E4E4E4;
}

.menu a.in, a.in {
    color: #E4E4E4;
}

h7, h6, h5, h4, h3, h2, h1 {
    font-family: 'Exo', 'helvetica', cursive;
    text-transform: uppercase;
    margin: 0 auto;
    color: #F1684E;
}

.text {
    text-align: left;
    font-size: 16px;
    width: 750px;
    margin: 20px auto 0;
    text-shadow: 0px 0px 0px #7AA5C6;
}

.box_title {
    color: #221E1D;
    background-color: #7AA5C6;
    width: 400px;
    
    margin: 0;
    text-align: right;
    padding-right: 25px;
    
    -webkit-box-shadow: 5px 5px 0px 0px #221E1D;
    -moz-box-shadow: -5px 5px 0px 0px #221E1D;
    box-shadow: 5px 5px 0px 0px #221E1D;
}

.box_middle {
    color: #221E1D;
    background-color: #7AA5C6;
    width: 800px;
    
    margin: 0 auto;
    text-align: center;
    
    -webkit-box-shadow: 5px 5px 0px 0px #221E1D;
    -moz-box-shadow: -5px 5px 0px 0px #221E1D;
    box-shadow: 5px 5px 0px 0px #221E1D;
}

.sponsor { 
    border: 1px solid #c0c0c0;
    float: left;
    font-family: 'Exo', 'helvetica', cursive;
    text-transform: uppercase;
    margin-left: 25px;
    color: #c0c0c0;
    text-align: center;
    cursor: pointer;
}

.platinum {
    width: 280px;
    height: 150px;
}

.rest {
    width: 240px;
    height: 110px;
}

.footer {
    margin:0 auto;
    width: 1000px;
    clear: both;
    color: #E4E4E4;
    font-family: sans-serif;
    height: 80px;
    padding-top: 25px;
    font-size: 12px;
}

.footer div {
    float: left;
    padding-right: 80px;
}

.footer a {
    color: #7AA5C6;
    font-size: 12px;
    text-decoration: none;
    font-family: sans-serif;
}

.footer a:hover {
    color: #E4E4E4;
}
.platinum_box {
    clear: both;
    height: 260px;
}

.platinum_box_left {
    float: left;
    width: 450px;
    background-color: #E4E4E4;
}

.platinum_box_left .text {
    width: 425px;
    padding: 0 0 25px 25px;
}
.platinum_box_right {
    float: right;
    width: 450px;
    background-color: #E4E4E4;
}
.platinum_box_right .text {
    width: 425px;
    padding: 0 0 25px 25px;
}

.box_title_right {
    color: #221E1D;
    background-color: #7AA5C6;
    width: 425px;
    
    margin: 0;
    text-align: left;
    padding-left: 25px;
    
    -webkit-box-shadow: 5px 5px 0px 0px #221E1D;
    -moz-box-shadow: -5px 5px 0px 0px #221E1D;
    box-shadow: -5px 5px 0px 0px #221E1D;
}

/*.speaker {
    color: #221E1D;
    background-color: #7AA5C6;
    width: 800px;
    
    margin: 0;
    text-align: left;
    padding: 5px 0 5px 5px;
    
    -webkit-box-shadow: 5px 5px 0px 0px #221E1D;
    -moz-box-shadow: -5px 5px 0px 0px #221E1D;
    box-shadow: 5px 5px 0px 0px #221E1D;
    font-family: Helvetica;
    min-height: 170px;
}*/

.speaker img {
    border: 1px solid black;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.speaker_foto {
	float: right;
    color: #221E1D;
    background-color: #7AA5C6;
    
    margin: 50px 0 0 0;
    text-align: right;
    padding-right: 25px;
    
    -webkit-box-shadow: 5px 5px 0px 0px #221E1D;
    -moz-box-shadow: -5px 5px 0px 0px #221E1D;
    box-shadow: 5px 5px 0px 0px #221E1D;
}

.who {
}

.bio {

}

.speaker a {
    color: #221E1D;
}

.speaker a:hover {
    color: white;
}

.speaker .name {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 22px;
}

.speaker .speaker_social {
    float: right;
    padding-right: 8px;
}

.speaker_social a {
    color: #357BAD;
    text-decoration: none;
    font-family: 'Exo', 'helvetica', cursive;
    font-size: 16px;
}

.twitter {
    font-family: WebIconFonts;
}

.topic {
    margin-top: 15px;
}

.topic ul {
    list-style: none;
    margin: 0;

}

.topic .about {
    font-weight: bold;
    font-size: 150%;
}

.topic_more {
    margin-top: 10px;
}
